@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme inline {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-playfair);
  --font-logo: var(--font-google-sans);
}

html {
  scroll-behavior: auto;
}
